<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="StudentAffairs.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="StudentAffairs.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>
    <userSettings>
        <StudentAffairs.Properties.Settings>
            <setting name="UserRole" serializeAs="String">
                <value />
            </setting>
            <setting name="UserID" serializeAs="String">
                <value>59050180</value>
            </setting>
            <setting name="LoginStatus" serializeAs="String">
                <value>False</value>
            </setting>
        </StudentAffairs.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <StudentAffairs.Properties.Settings>
            <setting name="dbPassword" serializeAs="String">
                <value>123456789</value>
            </setting>
            <setting name="dbLocation" serializeAs="String">
                <value />
            </setting>
        </StudentAffairs.Properties.Settings>
    </applicationSettings>
</configuration>
